.container{
 position: relative;
 top: 50%;
 left: 50%;
 transform: translate(-50%, 50%);
 width: 90%;
 max-width: 600px;
 height: auto;
 border: 2px solid #d0ea68b5;
 border-radius: 10px;
  overflow: hidden;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1{
  text-align: center;
}

.content{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  font-size: large;
  
}
input[type="text"] {
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-right: 10px;
}
.add-btn {
  padding: 8px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.add-btn:hover{
  background-color: #0056b3;
}
ol{
  list-style: none;
  padding-left: 0%;
}
li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

.text {
  flex: 1;
}

.delete-btn{
  padding: 5px 10px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 20px;
}

.up-btn,
.down-btn {
  margin-right: 20px;
  background-color: #28a745;
}

.up-btn:hover,
.down-btn:hover {
  background-color: #218838;
}